html {
  font-family: Georgia, sans-serif;
  font-size: 15px;
  margin:4% 10%;
}

a {
  text-decoration: none;
}

.navigation-bar {
  float: left;
  width: 17%;
  position: absolute;
}
.logo-hidden {
  display: none;
}

.logo {
  width: 75%;
  margin-bottom: 2rem;
}

.navbar {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.fas, .far {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000000;
}

.navbar .item a:hover .fas {
  transform: translate(10px);
}

.navbar .item a:hover .far {
  transform: translate(10px);
}

.navbar .far .item-text, .navbar .fas .item-text {
  font-weight: 400;
}

.fa-book {
  box-sizing: border-box;
}

.item-text:hover, .navbar-new .item-text:hover {
  color: #e36a35;
}

.item-text {
  font-size: 1.2rem;
  color: rgba(52,172,152,0.96);
  margin-left: 1rem;
}

.fab {
  color: rgba(52,172,152,0.96);
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: #ffffff;
  border: 1px solid #c1bfc6;
  margin-top: 1rem;
  outline: none;
}

.fab:hover {
  background-color: rgba(78,204,152,0.14);
  color: #e36a35;
}

.contact {
  text-transform: uppercase;
  border-bottom: 1px dashed #a3a1a8;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  width:75%;
  font-size: 0.7rem;
}

.contact-text {
  width:80%;
  line-height: 1.5rem;
  font-size: 0.7rem;
}
.container-right {
  width: 80%;
  float: right;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

.image {
  position: relative;
  height: 50%;
}

.main-image {
  width: 100%;
  margin-bottom: 0;
  display: block;
  z-index: -1;
}

.on-image-text, .photo-by {
  position: absolute;
}

.white-block {
  background-color: #ffffff;
  color: #000;
  padding: 1rem;
  font-size: 1.5rem;
  bottom: 28%;
}

.white-block:hover, .black-block:hover {
  opacity: 0.8;
}

.black-block {
  background-color: #000000;
  color: #f1eff6;
  padding: 0.8rem;
  font-size: 1.2rem;
  bottom: 18%;
}

.photo-by {
  right:5px;
  background-color: rgba(189,183,174,0.77);
  color: rgba(129,139,129,0.77);
  padding: 0.3rem;
  bottom: 10px;
  border-radius: 5px;
  font-size: 0.6rem;
  text-shadow: 1px 1px rgba(223,217,207,0.77);

}

.photo-by span:hover {
  color: rgba(241,99,7,0.77);
  text-shadow: 1.2px 1.2px rgba(218,232,218,0.77);
}

.navbar-new {
  width: 100%;
  height: 100%;
  float: left;
}

.navbar-new .item {
  height: 5rem;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  float: left;
  border-right: 1px solid #ffffff;
  position: relative;
}

.navbar-new .item:last-child {
  border-right: none;
}

.navbar-new .item label {
  height: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: rgba(50,170,152,0.11);
  cursor: pointer;
}

.navbar-new .item-text {
  border: none;
  font-family: Georgia, sans-serif;
  color: rgba(52,172,152,0.79);
  text-shadow: 1px 1px rgba(223,237,223,0.83);
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1rem;
}

.item-text .item-small-text {
  font-size: 0.8rem;
}

.navbar-new .item label:before {
  display: inline-block;
  content: ' ';
  vertical-align: middle;
  height: 100%;
}

.navbar-new .item input {
  display: none;
}

.navbar-new .item input:checked + label {
  background-color: rgba(0,118,102,0.32);
}

.send-box {
  border-top: 1.2px dashed rgba(193,191,198,0.32);
  border-bottom: 1.2px dashed rgba(193,191,198,0.32);
  padding-left: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-bottom: 1.8rem;
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.send-box i, span, input {
  display: inline-block;
}

.send-box .sent-text {
  font-size: 0.7rem;
  padding-left: 1rem;
  color: #000000;
  vertical-align: middle;
  font-style: italic;
  line-height: 1.2rem;
  width: 50%;
}

.sent-text:before{
  content: ' ';
  display: inline-block;
  height: 100%;
}

.send-box .far {
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.send-box [name="email"] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.2rem;
  box-sizing: border-box;
  width: 27%;
  height: 1.5rem;
}

.send-box [type="submit"] {
  border-radius: 5px;
  width: 10%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-image: linear-gradient(rgba(253,253,253,0.77), rgba(230,230,230,0.77));
  border: 1px solid rgba(74,74,74,0.56);
  font-size: 0.8rem;
}

.article {
  float: left;
  width: 22%;
  height: 30%;
  margin-right: 4%;
}

.article:nth-child(4) {
  margin-right: 0;
}

.article .article-image {
  width: 100%;
  height: 10rem;
  border: 1px solid #ddd;
  padding: 0.7rem;
  box-sizing: border-box;
}

.article .article-image:hover {
  opacity: 0.8;
}

.article .article-title:hover {
  color: rgba(241,99,7,0.77);
}

.article-title {
  font-size: 1rem;
  color: rgba(52,172,152,0.96);
  margin: 1.4rem 0;
}

.article-text {
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.article-footer {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.article-date {
  color: #b7b7b4;
}

.read-more {
  color: rgba(52,172,152,0.96);
  text-decoration: none;
  border-bottom: 1px dashed #b7b7b4;
  display: inline-block;
  height: 100%;
  position: relative;
  padding-right: 20px;
}

.more {
  font-size: 0.5rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.read-more:hover {
  color: #e36a35;
  background-color: rgba(71,189,139,0.31);
}

.footer {
  width: 100%;
  border-top: 2px solid #b7b7b4;
  margin-top: 3rem;
}

.copyright {
  margin-top: 1rem;
  display: inline-block;
  font-size: 0.9rem;

}

.copyright-link {
  color: rgba(52,172,152,0.96);
  text-decoration: none;
  line-height: 2rem;
  display: inline-block;
}

.copyright-link:hover {
  color: rgba(241,99,7,0.77);
}

.rights {
  color: #b7b7b4;
}

.icons {
  float: right;
}

.icons .fab{
  border: none;
  font-size: 1.5rem;
  color: #b7b7b4;
}

.icons .fab:hover {
  color: #5e5e61;
  background-color: transparent;
}

@media (max-width: 1100px) {
  html {
    font-size: 14px;
    margin-top: 2%;
  }

  .navigation-bar {
    width: 100%;
    position: relative;
  }

  .list-nav .navbar .item .item-text-blog {
    margin-right: 1rem;
  }

  .navbar .item a:hover .fas {
    transform: translateY(10px);
  }

  .navbar .item a:hover .far {
    transform: translateY(10px);
  }

  .logo-nav {
    width: 20%;
    float: left;
    margin-bottom: 1rem;
  }

  .logo {
    width: 10rem;
    margin-bottom: 0;
  }

  .list-nav {
    width: 75%;
    float: right;
    padding-right: 5%;
    height: 10rem;
  }

  .list-nav .item {
    float: right;
    width: 13%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0.6rem;
  }

  .navbar-new .item-text {
    width: 70%;
    box-sizing: border-box;
    text-align: center;
  }

  .item-small-text {
    display: none;
  }

  .fas, .far {
    font-size: 2.5rem;
  }

  .container-contact {
    display: none;
  }

  .container-right {
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .navbar-new {
    width: 100%;
    padding-left: 0;
  }

  .article .article-image {
    height: 9rem;
  }
}

@media (max-width: 830px) {
  html {
    font-size: 12px;
  }

  .send-box .sent-text {
    width: 40%;
  }

  .send-box [type="email"] {
    width: 35%;
  }

  .send-box [type="submit"] {
    width: 12%;
    padding: 1%;
  }

  .article .article-image {
    height: 7rem;
  }

  .white-block {
    bottom: 30%;
  }
}

@media (max-width: 715px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  html {
    margin: auto;
  }

  .logo-nav {
    display: none;
  }

  .logo-hidden {
    display: block;
    width: 100%;
  }

  .logo-mobile {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }

  .navbar .item:nth-child(3) {
    padding-left: 3%;
    padding-right: 3%
  }

  .list-nav {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    height: 8rem;
  }

  .list-nav .item {
    float: left;
    width: 20%;
    padding: 5%;
    line-height: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-new {
    display: none;
  }

  .white-block, .black-block {
    width: 100%;
    opacity: 0.8;
    box-sizing: border-box;
  }

  .white-block {
    bottom: 12%
  }

  .black-block {
    bottom: 0;
  }

  .photo-by {
    bottom: -7%;
  }

  .articles {
    margin-left: 3%;
    margin-right: 3%;
  }

  .article {
    width: 45%;
    float: left;
    margin-bottom: 2rem;
  }

  .article .article-image {
    height: 15rem;
  }

  .article:nth-child(2){
    margin-right: 0;
  }

  .article:nth-child(4){
    margin-right: 0;
  }

  .footer {
    margin: 0 3% 3% 3%;
    width: 94%;
  }
}

@media (max-width: 450px){
  .navbar-new {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .navbar-new .item {
    height: 4rem;
  }

  .navbar-new .item-text {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

  .navbar-new .item:nth-child(3) {
    padding: 0;
  }

  label {
    text-align: center;
  }

  .navigation-bar .navbar {
    display: none;
  }

  .navigation-bar {
    position: absolute;
  }

  .logo-mobile {
    padding-top: 4rem;
  }

  .main-image {
    height: 20rem;
  }
  .white-block {
    font-size: 1.3rem;
    bottom: 2.3rem;
    height: 2.9rem;
  }

  .black-block {
    height: 2.3rem;
    font-size: 1rem;
  }

  .photo-by {
    bottom: -1.5rem;
  }

  .send-box .sent-text {
    width: 80%;
  }

  .send-box [type="text"] {
    width: 50%;
    margin-top: 1rem;
    margin-left: 13%;
  }

  .send-box [type="submit"] {
    width: 5rem;
  }

  .article {
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
  }

  .article .article-image {
    height: 20rem;
  }
}


